/* STAR RATING STYLES */
.album--stars {
  border: 0;
  margin: 20px 0 0;
  padding: 0;
  font-size: 100%;
}

.album--stars li {
  float: left;
  list-style: none;
  width: 20%;
  max-width: 40px;
  line-height: 0;
  margin-bottom: 10px;
  text-align: center;
  padding: 0 5px;
  box-sizing: border-box;
}

.album--stars li:first-child {
  margin-left: -2px;
}

.album--stars li:hover {
  cursor: pointer;
}

.album--stars .star {
  width: auto;
  height: 100%;
  fill: #7c879f75;
}

.album--stars .selected .star {
  fill: #001238;
}

.album--reviews--form .album--stars {
  margin-bottom: 10px;
}







